html{
  min-height: 100%;
  overflow: hidden;
}
body{
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-position: center center;
  background-color: #eee;
  
}
img{
  float: left;
  top: 10px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 45px; 
  filter: invert(0%) sepia(51%) saturate(26%) hue-rotate(187deg) brightness(109%) contrast(87%);
}
